<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Deebee</title>
  <style>
    * { margin: 0; padding: 0; box-sizing: border-box }

    body, input, textarea, button {
      font: 16px Lucida Grande;
    }

    body {
      padding: 3.5em 1em 1em;
    }

    ul { list-style: none }
    li { margin: 1em 0 }

    nav {
      padding: 1em;
      background: #fff;
      position: fixed;
      top: 0; right: 0; left: 0;
    }
    nav select {
      margin-right: 1em;
    }

    table {
      border-collapse: collapse;
    }
    table, table input, table textarea, table button {
      font-size: 11px;
    }

    td, th {
      border: 1px solid lightgrey;
      padding: 0;
    }
    th {
      padding: .2em .4em;
    }

    td input,
    td textarea {
      padding: .4em .5em;
      margin: 0;
      border: 0;
      resize: none;
      height: 2em;
    }
    td textarea {
      overflow: hidden;
    }
    td textarea:focus {
      overflow: scroll;
      position: absolute;
      z-index: 10;
      width: 800px !important;
      height: 600px !important;
      max-width: none !important;
    }
  </style>
</head>
<body>
  <nav>
    <select onchange="location.href = '<%= url '/tables/' %>' + this.value">
      <option value="">Choose a table…</option>
      <% @tables.each do |table| %>
        <option <%= 'selected' if params[:table] == table.to_s %>><%= table %></option>
      <% end %>
    </select>

    <% if params[:table] %>
      <% if params[:page] && params[:page].to_i > 1 %>
        <a href="<%= url "/tables/#{params[:table]}/page/#{params[:page].to_i - 1}" %>">« Prev</a>
      <% else %>
        <a>« Prev</a>
      <% end %>

      <% if @records.size >= 500 %>
        <a href="<%= url "/tables/#{params[:table]}/page/#{(params[:page] || 1).to_i + 1}" %>">Next »</a>
      <% else %>
        <a>Next »</a>
      <% end %>
    <% end %>
  </nav>
  <%= yield %>
</body>
</html>
