<table data-table="<%= @table_name %>">
  <thead>
    <tr>
      <td class="action"></td>
      <% @table.columns.each do |column| %>
        <th><%= column %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |record| %>
      <tr data-id="<%= record[:id] %>">
        <td class="action"><a href="javascript:sync(<%= record[:id] %>)">Sync</a></td>
        <% record.each do |key, value| %>
          <% type = @schema[key][:db_type] %>

          <td data-key="<%= key %>">
            <% if type.match /text|hstore/ %>
              <textarea style="max-width: 200px"><%= CGI.escapeHTML(value.to_s) %></textarea>
            <% elsif type.match /integer|numeric/ %>
              <input value="<%= CGI.escapeHTML(value.to_s) %>" style="max-width: 300px; text-align: right">
            <% else %>
              <input value="<%= CGI.escapeHTML(value.to_s) %>" style="max-width: 300px">
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
